p {
    border: solid 3px slategrey;
    border-radius: 5px;
    margin: 25px 1355px 25px 50px;
    background-color: azure;
    padding: 15px;
    font-family: Verdana;
    font-size: 13px;
}
